{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'messengerSecured/main.css' %}">

    {% if title %}
        <title>messengerSecured - {{ title }}</title>
    {% else %}
        <title>messengerSecured</title>
    {% endif %}
</head>
<body>
    <nav id="banner">
        <a href="">messengerSecured</a>
    </nav>


{% comment %}    {% if messages %}
        {% for message in messages %}
            <div class="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}{% endcomment %}
    {% block content %}{% endblock %}
</body>
</html>