{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'messengerSecured/main.css' %}">

    {% if title %}
        <title>messengerSecured - {{ title }}</title>
    {% else %}
        <title>messengerSecured</title>
    {% endif %}
</head>
<body>
    <nav id="banner">
        <a href="">messengerSecured</a>
        <a href="{% url 'ms-recent' %}">Recent Messages</a>
        <a href="{% url 'ms-about'%}">About</a>
        <a href="javascript:history.go(0)">Refresh</a>
    </nav>


{% comment %}    {% if messages %}
        {% for message in messages %}
            <div class="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}{% endcomment %}
    <div id = "body-content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>