body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

#banner {
    display: flex;
    flex-wrap: nowrap;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 69;
}

#banner a {
    display: block;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: color 1s;
    width: auto;
}

#banner a:hover {
    color: rgba(6, 255, 237, 1);
}

#banner a:last-child {
    margin-left: auto;
}

.login {
    display: flex;
    margin: auto;
    flex-flow: column;
    text-align: center;
}

.login-form {
    text-align: center;
}

.login-form input {
    padding: 0.7em;
    border-radius: 7px;
}

.login-form button {
    padding: 0.7em;
    border-radius: 7px;
    background-color: rgba(6, 255, 237, 0.36);
    border-color: rgba(0,0,0,0);
    font-weight: bold;
}


.message-thread {
    margin-top: 10%;
    padding-bottom: 5em;

}

.thread-preview {
    transition: background-color 0.5s;
}

.thread-preview:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.message-thread a {
    text-decoration: none;
    color: #333333;
    transition: background-color 1s;
    background-color: rgba(0, 0, 0, 0);
}

.message-thread a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.me .message {
    flex-direction: row-reverse;
}

.message {
    display: flex;
    word-wrap: break-word;
}

.thread-preview .message p {
    background-color: rgba(0, 0, 0, 0);
}

.profile-pic {
    border-radius: 50%;
    min-width: 80px;
    min-height: 80px;
    align-self: flex-end;
    margin:0.5em;
}

.message h2 {
    word-wrap: break-word;
    align-self: flex-end;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.pic-and-name {
    display: flex;
    align-self: flex-end;
    width: 20%;
}

.message p {
    word-wrap: break-word;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1em;
    border-radius: 5px;
}

.me .message p {
    background-color: rgba(6, 255, 237, 0.36);
}

.msg-bar {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 1);
    color: rgba(6, 255, 237, 1);
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.msg-bar :nth-child(2) {
    width: 80%
}

.msg-bar button {
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 7px;
    border-color: rgba(0,0,0,0);
    font-weight: bold;
    background-color: rgba(6, 255, 237, 1);
}

.msg-bar input {
    width: 100%;
    height: 1em;
    margin-left: 1em;
    padding: 0.5em;
    border-radius: 10px;
}

.thread-name {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    top: 0px;
    padding-top: 2em;
    text-align: center;
    left: 0px;
    width: 100%;
}